.cstadlogo {
  height: 100px;
  width: 100px;
}
/* body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
} */
/* .section {
  background-color: rgb(63, 35, 35);
  margin: 20px;
  padding: 50px;
} */
/* .cover {
  display: flex;
  justify-content: center;
} */
/* .t-h1 {
  width: 70rem;
  align-items: center;
} */
